.entireProjects {
    background-color: #0f172a;
    /* Dark background color similar to your screenshot */
    /* color: white; */
    /* Ensures text color is white */
    min-height: 100vh;
    padding: 40px 20px 20px 20px; /* Added padding-top to move content down */
    font-family: 'Courier New';
}